//colors
$color-primary: #514a92;
$color-primary-light: #9990ea;
$color-primary-hover: #464184;
$color-base: #10141b;

//tipography
$font-family: 'Sofia Pro', serif;
$font-family-titles: 'Bluu Next', serif;

//wrapper
$wrapper: 1040px;
$wrapper-pad: 28px;
$wrapper-pad-xs: 20px;

//media queries
$screen-sm: 1039px;
$screen-xs: 699px;

//grid
$gap: 40px;
$gap-xs: 32px;
